div {
    width: 300px;
    margin-top: 100px;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-family: "Rubik";
    font-weight: 400;
    color: white;
}

a { 
    color: white; 
    text-decoration: none;
    transition: all 0.1s ease;
}


a:hover { text-shadow: 3px 3px 5px rgb(255, 255, 255, 0.6); }
body { background-color: rgb(10, 10, 10); }
ul { list-style-type: none; }